* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: grid;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 100px 1fr;
}

#sidebar {
    background-color: white;
    border: 1px solid #e5e7eb;
    grid-area: 1 /1 /3/ 2;

    padding: 1.5rem;
}

#header {
    background-color: white;
    border-bottom: 1px solid #e5e7eb;
}

#main-content {
    background-color: #f3f4f6;
    padding: 2rem;
}

.project-container {
    background-color: orange;
    border: 1px solid black;
    width: 80%;
    height: 200px;
}

.task-card {
    background-color: red;
    border: 1px solid black;
    width: 90%;
    height: 40px;
}

dialog {
  padding: 2rem;
  border: none;
  border-radius: 8px;
  width: 400px;

  margin: auto;
}

dialog[open] {
  display: flex;
  flex-direction: column;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
}